
@media (prefers-color-scheme: light) {
  $primary: #c9a;
  $on-primary: #13070c;
  $alt-primary: #6d4d57;
  $secondary: #839788;
  $on-secondary: #13070c;
  $alt-secondary: #73877b;
}
@media (prefers-color-scheme: dark) {
  $primary: #c9a;
  $on-primary: #13070c;
  $alt-primary: #6d4d57;
  $secondary: #839788;
  $on-secondary: #13070c;
  $alt-secondary: #73877b;

}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background: $primary;
  color: $on-primary;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

